﻿<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>叮嗒出行</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet" href="css/ibike-style.css" media="all">
<link rel="stylesheet" href="css/zjc.css" media="all">
<link rel="stylesheet" href="ux/iconfont.css" media="all" />

</head>
<body>
	
	<div id="LoadingMask" class="tips-block-layout">
		<div class="popup-wraper">
			<div class="tips-block-content">
				<span>
					<i class="icon iconfont space icon-color5">
						&#xe612;
					</i>
				</span>
				数据加载中,请稍等...
			</div>
		</div>
	</div>
	<!-- ===== 系统弹出对话框 ===== -->
		<div id="tipsDialog" class="tips-block-layout" style="display:none;">
			<div class="popup-wraper">
				<div class="popup-dialog icon-black">
					<h1 id="tipsDialogTitle">系统提示</h1>
					<div id="tipsDialogMsg" class="tips-dialog-msg"></div>
					<div class="ui-block-table popup-toolbar">
						<div class="ui-block-table-child border-right"><div id="tipsDialogCancel" class="tips-dialog-button">取消</div></div>
						<div class="ui-block-table-child"><div id="tipsDialogOk" class="tips-dialog-button icon-color3">确定</div></div>
					</div>
				</div>
			</div>
		</div>
		<!-- ===== 大提示框-租车状态 ===== -->
		<div id="tipsNotice" class="tips-roll" style="display: none">
			<div class="tips-roll-layout" >
				<div class="tips-roll-content">
					<div class="tips-icon"><i class="icon iconfont">&#xe60a;</i></div>
					<div id="tipsNoticeMsg" class="tips-block-msg">
						租车成功
					</div>
				</div>
			</div>
		</div>
		<!-- ===== 小提示框-无遮罩 ===== -->
		<div class="tips-prompt" style="display: none;">
			<div class="tips-prompt-layout">
				<span><i class="icon iconfont space">&#xe615;</i></span><span class="tips-prompt-msg">您有新的消息</span>
			</div>
		</div>
	<div class="panel-siteInfo" style="display:none;" id="siteInfo">
		<div class="card currCard">
			<div class="card-content">
				<div class="list-block media-list">
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title-row">
									<div class="item width100">
										<p style="text-align: center; color: rgb(0,0,0);">
											{{name}}
										</p>
										<!-- <div class="ui-block-table panel-row1">
											<div class="ui-block-table-child block1">
											<span class="record-icon distance-icon">D</span>
											<span  data-number="{{number}}" class="sitepoint">{{distance}}</span>
											</div>
											<div class="ui-block-table-child block1">
											<span class="record-icon rent-icon"><i
												class="icon iconfont">&#xe60a;</i></span><span class="sitepoint">{{rentcount}}</span>
											</div>
											<div class="ui-block-table-child block2">
												<span class="record-icon park-icon">P</span><span
													class="sitepoint">{{restorecount}}</span>
											</div>
										</div> -->
									</div>
								</div>
								<div class="jc-card-footer">
										<div class="ui-block-table">
											<div style="width: 35%;float:left;">
													<p class="jc-card-tongji">
														{{distance}} 
													</p>
													<!-- <script type="text/javascript">
														function jiequ(str){
															return str.substring(0,3);
														}
														var txt =$("#jiequzifu").html();
														alert(jiequ(txt));
													</script>	 -->							
							
											<!-- <span class="record-icon distance-icon">D</span>
											<span  data-number="{{number}}" class="sitepoint">{{distance}}</span> -->
											</div>
											<div style="width: 30%;left: 40%;float:left;">
											<p class="jc-card-tongji">
														{{rentcount}}可借
													</p>	
											</div style="width: 30%;left: 75%;float:left;">
											<div >
												<p class="jc-card-tongji">
														{{restorecount}}可还
													</p>
											</div>
										</div>
										
								</div>
								
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="daohang" class="jc-card-daohang">
			<p style="text-align: center;color: white;margin-top: 0.8em">
				导航
			</p>
							
		</div>
	</div>

	<div id="mengcengmc" class="jc-mengceng" style="display:none;">
		
	</div >
	<div class="jc-info-bottom-up" style="display:none;" id="infobottom">
		<div id="baozhengjin" class="jc-info-classBtn-image">
			<img src="image/icon_money@3x.png" class="jc-info-image">

		</div>
		<div id="orderListnew" class="jc-info-classBtn-image" >
			<img src="image/icon_docu@3x.png" class="jc-info-image">

		</div>
		<div id="rentListnew" class="jc-info-classBtn-image">
			<img src="image/icon_rent@3x.png" class="jc-info-image">

		</div>
		<div class="jc-info-bottom-up-text">
			<p class="jc-info-classBtn-text">
				保证金
			</p>
			<p class="jc-info-classBtn-text">
				订单详情
			</p>

			<p class="jc-info-classBtn-text">
				租还记录
			</p>

		</div>
	</div>
	<div class="jc-info-bottom-up" style="display:none;" id="personitem">
		<div id="kefuclass" class="jc-personImg">
			<img src="image/icon_service@3x.png" class="jc-info-image">

		</div>
		<div id="personpoint" class="jc-personImg" >
			<img src="image/icon_person@3x.png" class="jc-info-image">

		</div>
		<div class="jc-info-bottom-up-text">
			<p class="jc-person-text">
				客服
			</p>
			<p class="jc-person-text">
				个人中心
			</p>

		</div>
	</div>
	<div class="ui-content-absolute">
		<div id="mapdiv" style="height:100%;"></div>
	</div>
	<script src="http://api.map.baidu.com/api?v=2.0&ak=xNUVOanwO3w8XGGPT403G2Ks"></script>
	<script data-main="../js/main" src="../js/require.js" data-import="bikeUI/index"></script>
</body>
</html>
