﻿<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>周边站点</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet" href="css/ibike-style.css" media="all">
<link rel="stylesheet" href="ux/iconfont.css" media="all" />

</head>
<body>
	<div id="LoadingMask" class="tips-block-layout">
		<div class="popup-wraper">
			<div class="tips-block-content">
				<span><i class="icon iconfont space icon-color5">&#xe612;</i></span>数据加载中,请稍等...
			</div>
		</div>
	</div>
	<div class="page">
		<!-- ===== 详情内容 ===== -->
		<div id="NearSitesList" style="display: none;" class="content"
			style="background-color: transparent">
			{{#data}}
			<!-- ===== 第一个站点 ===== -->
			<div class="card">
				<div class="card-content">
					<div class="list-block media-list">
						<ul>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item width75">
											<div class="f16 icon-black">{{name}}[{{number}}]</div>
											<div class="f9 icon-color5">{{address}}</div>
										</div>
										<div class="item  text-center">
											<div class="item-pay f9">
												<a data-number="{{number}}" href="#" id="rentBike"
													class="button button-fill button-warning">去租车 </a>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="card-footer icon-color2">
					<div class="ui-block-table panel-row1">
						<div class="ui-block-table-child block1">
							<span class="record-icon rent-icon"><i
								class="icon iconfont">&#xe60a;</i></span><span class="sitepoint">{{rentcount}}</span>
						</div>
						<div class="ui-block-table-child block1">
							<span class="record-icon park-icon">P</span><span
								class="sitepoint">{{restorecount}}</span>
						</div>
						<div class="ui-block-table-child block2">
							<span class="record-icon distance-icon">D</span>
							<span  data-number="{{number}}" class="sitepoint">{{distance}}</span>
						</div>
					</div>
				</div>
			</div>
			{{/data}}
		</div>
	</div>
	<script src="http://api.map.baidu.com/api?v=2.0&ak=xNUVOanwO3w8XGGPT403G2Ks"></script>
	<script data-main="../js/main" src="../js/require.js" data-import="bikeUI/nearsite"></script>
</body>
</html>
