﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>我的订单</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
	<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
	<link rel="stylesheet" href="css/ibike-style.css" media="all">
	<link rel="stylesheet" href="ux/iconfont.css" media="all" />
</head>
<body>
	<!-- ===== 系统弹出对话框 ===== -->
	<div id="tipsDialog" class="tips-block-layout" style="display:none;">
		<div class="popup-wraper">
			<div class="popup-dialog icon-black">
				<h1 id="tipsDialogTitle">系统提示</h1>
				<div id="tipsDialogMsg" class="tips-dialog-msg"></div>
				<div class="ui-block-table popup-toolbar">
					<div class="ui-block-table-child border-right"><div id="tipsDialogCancel" class="tips-dialog-button">取消</div></div>
					<div class="ui-block-table-child"><div id="tipsDialogOk" class="tips-dialog-button icon-color3">确定</div></div>
				</div>
			</div>
		</div>
	</div>
	<div id="LoadingMask" class="tips-block-layout">
		<div class="popup-wraper">
			<div class="tips-block-content">
				<span><i class="icon iconfont space icon-color5">&#xe612;</i></span>数据加载中,请稍等...
			</div>
		</div>
	</div>
	<!-- ===== 小提示框-无遮罩 ===== -->
	<div class="tips-prompt" style="display: none;">
		<div class="tips-prompt-layout">
			<span><i class="icon iconfont space">&#xe615;</i></span><span class="tips-prompt-msg">您有新的消息</span>
		</div>
	</div>
	<!-- ===== 详情内容 ===== -->
	<div id="OrderList" style="display: none;" class="content"
		style="background-color: transparent">
		{{#data}}
		<!-- ===== 详情 ===== -->
		<div class="card">
			<div class="card-header">
				<p >{{refundflag_txt}}{{subject}}</p>
				<p class="text-right  icon-color5">{{orderstatus_txt}}</p>
			</div>
			<div class="card-content">
				<div class="list-block media-list">
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title-row">
									<div class="item i-font f9">
										{{body}}
									</div>
								</div>
								<div class="item-subtitle f8">{{createtime}}</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="card-footer icon-color2">
				<p class="width80 padLeft nomargin">
					<span class="go-payment"></span><span class="payment-amount">¥{{ordermoney}}</span>
				</p>
				<p data-orderid="{{orderid}}" style="display: {{display}};" class="width20 bg-blue icon-button-white nomargin">去支付</p>
			</div>
		</div>
		{{/data}}
	</div>
	<script data-main="../js/main" src="../js/require.js" data-import="bikeUI/orderlist"></script>
</body>
</html>
