﻿<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>行程记录</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet" href="css/ibike-style.css" media="all">
<link rel="stylesheet" href="css/recordlist.css" media="all">
<link rel="stylesheet" href="ux/iconfont.css" media="all" />

</head>
<body>

	<div id="LoadingMask" class="tips-block-layout">
		<div class="popup-wraper">
			<div class="tips-block-content">
				<span><i class="icon iconfont space icon-color5">&#xe612;</i></span>数据加载中,请稍等...
			</div>
		</div>
	</div>
	<div class="air-item" id="record-header">
			<div class="air-upper">
				 <div class="upper-lt">
				 	  <p>碳积分</p>
				 	  <p>123</p>
				 	  <p>g</p>
				 </div>
				 <div class="upper-lt">
				 	  <p>行程总计</p>
				 	  <p>242</p>
				 	  <p>km</p>
				 </div>
				 <div class="upper-lt">
				 	  <p>累计出行</p>
				 	  <p>320</p>
				 	  <p>min</p>
				 </div>
			</div>
	</div>
	<div class="page record-box">
		<!-- ===== head =====  -->
    
		<div id="RecordList" style="display: none;" class="content" style="background-color: transparent">
			{{#data}}
			<!-- ===== 详情 ===== -->
			<!-- <div class="card">
				<div class="card-header bg-lightblue icon-button-white">
					<span class="f10">车号:{{bikeid}}&nbsp;[{{hirestatus}}]</span> <span class="f10">用时:{{useTime}}</span>
				</div>
				<div class="card-content">
					<div class="list-block media-list">
						<ul>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item width45 text-center">
											<p class="i-font f10 fonWeight">{{hirestationnm}}</p>
											<p class="i-font f8">{{hirestationid}}-{{hireparkNum}}</p>
											<p class="i-font f8">{{renttime}}</p>
										</div>
										<div class="item">
											<p style="margin-top: 100%">
												<i class="icon iconfont ">&#xe60e;</i>
											</p>
										</div>
										<div class="item width4 text-center">
											<p class="i-font f10 fonWeight">{{restorestationnm}}</p>
											<p class="i-font f8">{{restorestationid}}-{{restoreparkNum}}</p>
											<p class="i-font f8">{{restoretime}}</p>
										</div>

									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="card-footer icon-color2  ">
					<p class="width80 padLeft nomargin">
						<span class="payment-amount">¥{{money}}</span>
					</p>
				</div>
			</div> -->
		  <div class="reco-item">	
         <div class="item-top">
         	  <div class="top-lt add-lt">
         	  	 <p>{{bikeid}}</p>
         	  	 <p>车号</p>
         	  </div>
         	  <div class="top-ce add-ce">
         	  	 <p>{{renttime.substr(6,11)}}</p>
         	  	 <p>2017</p>
         	  </div>
         	  <div class="top-rt add-rt">
         	  	 <p>¥{{money}}</p>
         	  	 <p>支付(元)</p>
         	  </div>
         </div>
         <div class="item-top">
         	  <div class="top-lt">
         	  	 <p>{{hirestationnm}}</p>
         	  </div>
         	  <div class="top-ce">
         	  	 <p>12公里</p>
         	  </div>
         	  <div class="top-rt">
         	  	 <p>{{restorestationnm}}</p>
         	  </div>
         </div>
         <div class="cen-img">
         	 <img src="image/icon_line0@2x.png" alt="aaa" width="100%" height="100%">

         </div>
         <div class="item-top">
         	  <div class="top-lt">
         	  	 <p>{{renttime}}</p>
         	  </div>
         	  <div class="top-ce">
         	  	 <p>{{useTime}}</p>
         	  </div>
         	  <div class="top-rt">
         	  	 <p>{{restoretime}}</p>
         	  </div>
         </div>
		  </div>
		  <div class="gray-btm"></div>
			{{/data}}
		</div>
	</div>
<!-- 	<div class="foot-btn">
	  <p>点击加载更多</p>
	</div> -->
	<script data-main="../js/main" src="../js/require.js" data-import="bikeUI/recordlist"></script>
</body>
</html>
