<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>扫码租车</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet" href="css/ibike-style.css" media="all">
<link rel="stylesheet" href="ux/iconfont.css" media="all" />

</head>
<body>
	<div id="LoadingMask" class="tips-block-layout">
		<div class="popup-wraper">
			<div class="tips-block-content">
				<span><i class="icon iconfont space icon-color5">&#xe612;</i></span>数据加载中,请稍等...
			</div>
		</div>
	</div>
	<!-- ===== 系统弹出对话框 ===== -->
	<div id="tipsDialog" class="tips-block-layout" style="display:none;">
		<div class="popup-wraper">
			<div class="popup-dialog icon-black">
				<h1 id="tipsDialogTitle">系统提示</h1>
				<div id="tipsDialogMsg" class="tips-dialog-msg"></div>
				<div class="ui-block-table popup-toolbar">
					<div class="ui-block-table-child border-right"><div id="tipsDialogCancel" class="tips-dialog-button">取消</div></div>
					<div class="ui-block-table-child"><div id="tipsDialogOk" class="tips-dialog-button icon-color3">确定</div></div>
				</div>
			</div>
		</div>
	</div>
	<!-- ===== 小提示框-无遮罩 ===== -->
	<div class="tips-prompt" style="display: none;">
		<div class="tips-prompt-layout">
			<span><i class="icon iconfont space">&#xe615;</i></span><span class="tips-prompt-msg">您有新的消息</span>
		</div>
	</div>
	<!-- ===== 大提示框-租车状态 ===== -->
	<div id="tipsNotice" class="tips-roll" style="display: none">
		<div class="tips-roll-layout" >
			<div class="tips-roll-content">
				<div class="tips-icon"><i class="icon iconfont">&#xe60a;</i></div>
				<div id="tipsNoticeMsg" class="tips-block-msg">
				</div>
			</div>
		</div>
	</div>
	<!-- ===== 手机租车 ===== -->
	<div class="content" id="goRentBikePage" style="display: none;">
		<div class="siteInfo orderRent-siteInfo">
			<div class="panel-row1">
				<span class="siteAddress">{{address}}</span><span class="sitenumber">{{number}}</span>
			</div>
			<div class="ui-block-table panel-row1">
				<div class="ui-block-table-child block1">
					<span class="record-icon rent-icon"><i class="icon iconfont ">&#xe60a;</i></span>
					<span class="sitepoint f9">{{rentcount}}</span>
				</div>
				<div class="ui-block-table-child block1">
					<span class="record-icon park-icon">P</span><span class="sitepoint f9">{{restorecount}}</span>
				</div>
				<div class="ui-block-table-child block2">
					<span class="record-icon distance-icon">D</span><span class="sitepoint f9">{{distance}}</span>
				</div>
			</div>
		</div>
		<!-- ===== 状态说明
        <div class="round-group-1">
            <div class="round-block"><span class="ui-round-1 round-selected"><i class="icon iconfont">&#xe608;</i></span>已选</div>
            <div class="round-block"><span class="ui-round-1 round-rent"><i class="icon iconfont">&#xe608;</i></span>可租</div>
            <div class="round-block"><span class="ui-round-1 round-norent"><i class="icon iconfont">&#xe608;</i></span>不可选</div>
        </div>
        ===== -->
		<div id="bikePosPanel" class="round-group-2">
		  	{{#poscount}}
			<div class="round-table round-norent" data-action="posSelectedAction">
				<div  class="ui-round-2" data-posnum="{{posnum}}">
					<i class="icon iconfont">&#xe60b;</i>
				</div>
				<div class="bikeNumber bikeNumber-enabled">{{index}}</div>
				<div class="bikeIcon" data-posinfo="{{posinfoindex}}" style="display:none;">
					<i class="icon iconfont">&#xe60a;</i>
				</div>
			</div>
		 	{{/poscount}}
		</div>

		<!-- 点击车位后租车状态！
		<div class="panel-orderRent">
		    <div class="ui-block-table">
		        <div class="ui-block-table-child ui-block-left-1">
		            <span class="pointNumber-selected" >南湖花园</span>
		            <span class="bikeNumber-selected" id="posNumberSelectedDiv">1号</span>
		            <div class="orderRent-selectedInfo">请确认租车站点及车位号</div>
		        </div>
		        <div class="ui-block-table-child ui-block-right-1" data-action="rentBikeAction"><button class="ui-btn ui-corner-all ui-btn-gray-disabled" id="rentBikeBtn">确定租车</button></div>
		    </div>
		</div> 
		-->

		<div id="goRent" class="panel-orderRent">
			<div class="ui-block-table">
				<div class="ui-block-table-child width75">
					<span id="posNumberSelectedDiv" class="bikeNumber-selected">请选择车位编号</span>
					<div class="orderRent-selectedInfo">每个用户每次最多选择一辆车</div>
				</div>
				<div class="ui-block-table-child ui-block-right-1" data-action="rentBikeAction">
					<div id="rentBikeBtn" class="button-goRent button-fill button-warning">去租车 </div>
					<!-- 不可租车状态！
					<div id="rentBikeBtn" class="button-goRent button-fill button-failure">去租车 </div>
					-->
        </div>
    </div>
</div>
</div>
<script data-main="../js/main" src="../js/require.js" data-import="bikeUI/rent"></script>
</body>
</html>