<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>我要爆料</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet" href="css/ibike-style.css" media="all">
<link rel="stylesheet" href="ux/iconfont.css" media="all" />

</head>
<body >

<div class="page">
    <div  id="revelationList" style="display:none;" class="content">
        <!-- 爆料 -->
        {{#data}}
        <div class="f9 ptd8">
            <div class="itemCity-group">
                <div class="itemCity-list ui-block-table">
                    <span class="itemCity-list-left ui-block-table-child">标题：</span>
                    <span class="itemCity-list-right ui-block-table-child icon-black">{{tilte}}</span>
                </div>
                <div class="itemCity-list ui-block-table">
                    <span class="itemCity-list-left ui-block-table-child-top">详情：</span>
                    <span class="itemCity-list-right ui-block-table-child">
                        <span class="icon-black">{{content}}
                        <div class="mt20 f9 text-right icon-color8">{{createTime}}</div>
                        </span>
                    </span>
                </div>
                <div class="itemCity-list ui-block-table" style="border: none;">
                    <span class="itemCity-list-left ui-block-table-child">回复：</span>
                    <span class="itemCity-list-right ui-block-table-child">
                        <span class="{{reply_style}}">{{reply_txt}}</span>
                    </span>
                </div>
            </div>
        </div>
		{{/data}}
    </div>
    <a href="revelation.html" class="imPopBtn f8">
        <i class="icon iconfont">&#xe6ca;</i>
        <span>爆料</span>
    </a>
</div>
<script data-main="../js/main" src="../js/require.js" data-import="bikeUI/revelationList"></script>
</body>
</html>