
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(http://), url-prefix(https://){
    @font-face { font-family: Simsun;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Simsun;unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: NSimsun;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: NSimsun;unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: Simhei;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Simhei;unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: '宋体';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: '宋体';unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: '新宋体';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: '新宋体';unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: '黑体';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: '黑体';unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    /* 分别替换，宋体，新宋体，黑体为微软雅黑 */
    @font-face { font-family: monospace;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: 'monospace';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Consolas;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Lucida Console;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    /* 替换常见的等宽字体 */
}
a{color: #585d66;text-decoration: none;}
/*a:active{color:  #3284ce;}*/
/*body{
    color: #2badf1;
}*/
*{margin:0;padding:0;/*font-family: 'AdobeHeitiStd-Regular';*/}
/**{height: 100%;} */ 
html{height: 100%;}
body{background-color: #fff;font-size: 0.28rem!important;}
ul,ol,li{ list-style: none;}
img{ /*  width:100%;  */display: block; border:none;margin:0 auto;}
input[disabled],input:disabled{background-color:#fff;}
input.disabled{background-color:#fff;}
.clearfix:after{ content:'.'; display:block; clear:both; height:0; visibility:hidden;}
.clearfix{ zoom:1;}
a{text-decoration: none;color:#f00;}

/* index2.html 页面css*/
.box {/*max-width:7.5rem;*/margin:0 auto;overflow: hidden;font-size:.3rem;}
.anchorBL{display: none;}
.allmap{height:100%; position: relative; }
.icon-samll img{
            width: .6rem;
            height: .6rem;
          }
 #pageone{
            overflow-y:hidden;
          }
.personTop img{
   top: .2rem;
   left: .2rem;
   position: absolute;
   border: 1px solid #f2f2f2;
  border-radius: .6rem;
  padding: .05rem;
   }
.searchTop img{
   top: .2rem;
   right: .2rem;
   position: absolute;
   }
.bikeType img{
   bottom: .2rem;
   left: .2rem;
   position: absolute;
   width:.8rem;
   height:.8rem;
   }
.reportInfo img{
   bottom: .2rem;
   right: .2rem;
   position: absolute;
   width:.8rem;
   height:.8rem;
}

.personTop , .searchTop , .bikeType , .{
  position: relative;
}
.swipeCode{
    position: absolute;
    width: 130px;
    height: .5rem;
    line-height: .5rem;
    border-radius: .5rem;
    bottom: .25rem;
    text-align: center;
    background: #2476ff;
    color:#fff;
    font-size: .18rem;
    font-weight: 500;
    font-family: '宋体';
    padding: .05rem 0;
}   
.swipeCode img{
  width:.5rem;
  height: .5rem;
}
.returnTop img{
    bottom: 1.2rem;
   left: .2rem;
   position: absolute;
    width:.8rem;
   height:.8rem;
 }
.bikeTypeBox{
    position: absolute; 
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.2rem;
    background: #fff;
    z-index: 999;
    display: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: .3rem 0;
}
.bikeTypeBox ul{
  height: 100%;
  overflow: hidden;
}
.bikeTypeBox ul > li{
  float:left;
  width: 33.3%;
  text-align:center;
}
.bikeTypeBox ul > li img{
  width:.76rem;
  height:.91rem;
}
.bikeTypeBox ul > li p{
  margin: .2rem 0 0 0;
  font-size: .24rem;
}
.moniBox{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 3.6rem;
  background-color: #fff;
  border-top:1px solid #ccc;
  display: none;
}
.moniBox h2.title{
  font-weight: bold;
  text-align: center;
  font-size:.32rem;
  height: .5rem;
  line-height: .5rem;
  margin: .2rem 0;
}
.moniBox .numlist{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-between;
  height: 1.3rem;
  padding: .2rem 0;
}
.moniBox .numlist > li{
  justify-content: center;
  flex:1;
  text-align: center;
}
.moniBox .numlist > li p{
  height: .5rem; 
  line-height: .5rem;
  font-size:.2rem;
}
.moniBox .numlist > li .p1{
    font-size: .5rem;
    margin-bottom: .1rem;
}
.moniBox .numlist > li .p2{
  color:#888888;
}
.moniBox .daohang{
  background-image:url('../image/icon_button_bg0.png');
  background-repeat:no-repeat;
  background-size:cover;
  width: 100%;
  height: .8rem;
  display: block;
  text-align: center;
  line-height: .8rem;
  color: #fff;
  letter-spacing: .03rem;
  font-size: .28rem;
}
.moniBox .daohang label{
  text-align:center;
}
.moni{
  bottom: 3.2rem;
  right: 3.2rem;
  position: absolute;
  width: 1rem;
  height: 1rem;
}
.moni img{
  width: .76rem;
  height: .91rem;
}

/* daohang.html页面css */
#pagetwo .guidemap{
  height: 80%;
}
#guideRoad{
    width: 90%;
    padding: 2% 5% 0 5%;
    height: 18%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
    font-size: .24rem;
}
 #guideRoad img{
  width: .4rem;
  height: .4rem;
  margin: .05rem .2rem 0 0;
}
#guideRoad .first,.second , .three{
    height: .6rem;
    line-height: .6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.line-one{
    flex: 4;
    justify-content: flex-start;
    display: flex;
}
.guideRoad  .line-two {
    flex: 1;
    justify-content: flex-end;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    background: #2467ff;
    border-radius: .05rem;
    font-size:.23rem;
}
.guideRoad  .line-two a{
  color: #fff;
}
.road{
  width: 1.5rem;
}
.roadName{
  width: 4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.second-one{
  display: flex;
  flex: 2;
}
.second-two{
  display: flex;
  flex:5;
}
.three-one{
  display: flex;
  flex: 2;
}
.three-two{
  display: flex;
  flex:5;
}

/* zhuce.html页面css */
.container{
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
}
.container .login_box{
    margin:2rem 0 0 0;
    font-size: .26rem;
    color:#888888;

}
.container .login_box .login_input .input_a{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    border-bottom: 1px solid #ccc;
    position: relative;
    font-family: 'AdobeHeitiStd-Regular';
}
.container .login_box .login_input .input_a:first-child{
  border-top:1px solid #ccc;
}
.container .login_box .login_input .input_a  .a_img{
  flex:2;
  justify-content: flex-start;
}
.container .login_box .login_input .input_a  .a_img img{
  width: .3rem;
  height: .47rem;
  margin-top: .2rem;
}
.container .login_box .login_input .input_a  input{
  flex:7;
  justify-content: flex-start;
  border:none;
  /* border-bottom: 1px solid #ccc; */
}
.container .login_box .login_input .input_a .getcode{
    position: absolute;
    right: 0;
    bottom: .25rem;
    padding: 0 .3rem;
    height: .4rem;
    line-height: .4rem;
    font-family: 'FZLTHK--GBK1-0';
    font-size: .24rem;
    color: #666666;
    border: none;
    background: #fff;
    margin: 0 .2rem;
    border-left: 1px solid #ccc;
}
.container .login_box .zhuce{
  margin: 1rem 0 0 0;
  height: .9rem;
  position: relative;
}
.container .login_box .zhuce img{
    height: .9rem;
    width: 100%;
}
.text{
    width: .6rem;
    height: .4rem;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
}
.tip{
  position: absolute;
  right:2.3rem;
  bottom:.15rem;
  width: 2.5rem;
  height: .7rem;
  border: 1px solid #ccc;
  border-radius: .15rem;
  color: #888888;
  display: none;
  line-height: .7rem;
  text-align: center;


 {display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

{flex:1;
justify-content: center;}


