
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(http://), url-prefix(https://){
    @font-face { font-family: Simsun;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Simsun;unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: NSimsun;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: NSimsun;unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: Simhei;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Simhei;unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: '宋体';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: '宋体';unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: '新宋体';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: '新宋体';unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: '黑体';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: '黑体';unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    /* 分别替换，宋体，新宋体，黑体为微软雅黑 */
    @font-face { font-family: monospace;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: 'monospace';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Consolas;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Lucida Console;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    /* 替换常见的等宽字体 */
}
a{color: #585d66;}
a:active{color:  #3284ce;}
body{
    color: #2badf1;
}
p {
    margin: 0.3em 0;
}
.bg{
    background: #dcf2ff url(../image/bottom.png) no-repeat bottom;
    background-size: 100%;
}
.onlybg-blue{
    background-color: #dcf2ff;
}
.bg-darkblue{background-color: #3284ce}
.bg-blue{background-color: #2badf1}
.bg-gray{background-color: #999}
.bg-lightblue{background-color: #87c7fc}
.page{background: none;display: block;}
.color-alink{color: #3284ce;}
.header,.footer,.wrap-page{
    left:0;
    right:0;
}
.anchorBL{display:none;}
.title {
    font-size: 0.95em;
    font-weight: 300;
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}
.inside-title{
    position: absolute;
    display: block;
    width: 100%;
    padding: 0.4em 1em;
    text-align: center;
    white-space: nowrap;
}
* {font-family: "Microsoft YaHei","iconfont"  !important;}
.swiper-pagination-bullet-active{
    opacity: 1;
    background: #f6b000;
}
.iconfont{
    font-size: inherit !important;
    font-weight: normal;
}
.fonWeight{
    font-weight: 500;
}
.pl15{padding-left: 15px}
.pt20{padding-top: 20px;}
.pt10{padding-top: 10%;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mtP10{margin-top: 10%;}
.ptd8{
    padding:8px 0;
}
.f16{font-size: 1em;}
.f8{font-size: 0.7em}
.f9{font-size: 0.8em}
.f10{font-size: 0.9em}
.f7{font-size: 0.6em}
.f20{font-size: 2em}
.f30{font-size: 2.5em}
.f40{font-size: 4em}
.font-smaller{
    font-size: smaller;
}
.width100{
    width:100%;
}
.width45{
    width: 45%;
}
.width50{
    width: 50%;
}
.width60{
    width: 60%;
}
.width75{
    width: 75%;
}
.width80{
    width: 80%;
}
.width20{
    width: 20%;
}
.width90{
    width: 90%;
}
.width10{
    width: 10%;
}
.nomargin{
    margin: 0;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}
.vertical-align{
    vertical-align:middle
}
.icon-color2{
    color: #e4514f;
}
.icon-color4{
    color: #f6b000;
}
.icon-color3{
    color: #3284ce;
}
.icon-color4{
    color: #f6b000;
}
.icon-color5{
    color: #999;
}
.icon-color6{
    color:#33c6e0;
}
.icon-color7{
    color: gold;
}
.icon-color8{
    color: silver;
}
.icon-color9{
    color: burlywood;
}
.icon-color10{
    color: #00aaee;
}
.icon-color11{
    color: #3399ff;
}
.icon-color12{
    color: #6b6b70;
}
.icon-button-white{
    color: white;
}
.icon-black{
    color: black;
}
.icon-green{
    color: #73c30b;
}
.icon-color .icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.15rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 1.25rem;
    display: inline-block;
    background-color: #09ad75;
}
.space{
    margin: 0.5em;
}
.space-bottom{
    margin: 0.5em 0.35em;
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    color: #09ad75;
}
.bar .button-link {
    top: 0;
    padding: 0;
    font-size: .8rem;
    line-height: 2.2rem;
    height: 2.2rem;
    color: #3284ce;
    border: 0;
}
.btn{
    width:100%;
    padding: 1.8% 0;
    color:#fff;
    border: none;
    text-align: center;
    border: 0;
    display: block;;
    border-radius: 4px;
    font-size: 0.9em;
}
.btn-epistolize{
    width:100%;
    padding: 1.8% 0;
    color:#fff;
    border: none;
    text-align: center;
    border: 0;
    display: block;;
    border-radius: 2px;
    font-size: 0.8em;
}
.btn-success{background-color: #09AD75;}
.btn-primary{background-color: #3284ce;}
.btn-danger{background-color:  #dc2c2c;}
.btn-disabled{background-color: #8F8F8F;}
.page-width{
    padding-left:5%;
    padding-right:5%;
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    z-index: 1;
}
.rent-area-main{
    width: 100%;
    height: 30%;
    background-color: white;
    text-align: center;
    padding-top: 1.5em;
}
.rent-area-part{
    background: url("../image/rent_area.png");
    background-size: 100% 100%;
    height: 6%;
}
.ui-block-table{
    display: table;
    table-layout: auto;
    width: 100%;
}
.ui-block-table-child{
    display: table-cell;
    vertical-align: middle;
}
.ui-block-table-child-top{
    display: table-cell;
}
.ui-block-table-child-up{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.ui-block-table-child-down{
    padding-top: 10%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.ui-block-table-child-left{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;
}
.ui-block-table-child-right{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: right;
}
.icon-name{
    margin-top: 0.5em;
    font-size: 0.7em;
}
.rent_pic{
    width: 6em;
    height: 6em;
    display: block;
    margin: 0 auto;
}
.rent_word{
    padding-top: 1em;
    color: #09ad75;
}
.listview-my{
    padding: 0.5em 0;
    border-bottom: 1px solid #e5e5e5;
}
.listview-my-area{
    padding: 1.2em 1.5em;
    background:  url(../image/ornament_picture.png) no-repeat bottom right;
    background-size: 60%;

}
.buttons-tab .button.active {
    color: #09ad75;
    border-color: #09ad75;
    z-index: 100;
}
.content-block {
    margin:0;
    background-color: white;
}
.content-block-2 {
    margin:0;
    background-color: white;
}
.listview-h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
}
.listview-h2{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
}
.button.button-fill {
    color: #fff;
    border: none;
    line-height: 1.35rem;
}
.search-input input {
    box-sizing: border-box;
    width: 100%;
    height: 1.4rem;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    font-family: inherit;
    color: #3d4145;
    font-size: .7rem;
    font-weight: 400;
    padding: 0 .5rem;
    background-color: #fff;
    border: 1px solid #bfbebe;
}
.rent-table{
    padding-top: 1em;
}
.function-block{
    width: 80%;
    margin: auto;
    overflow: auto;
}
.function-block-near{
    color: white;
    width: 100%;
    margin: auto;
    border-radius: 0.2em;
    margin-top: 2em;
}
.function-block-wx{
    background-color: #fff;
    width: 100%;
    margin: auto;
    border-radius: 0.2em;
    margin-top: 1em;
    height:auto !important;
}
.function-block-rent{
    background-color: #fff;
    width: 100%;
    margin: auto;
    border-radius: 0.2em;
    margin-top: 1em;
}
.function-block-download{
    background-color: #fff;
    width: 100%;
    margin: auto;
    border-radius: 0.2em;
}
.function-column{
    text-align: center;
    padding: 0.4em 0;
}
.function-column-right{
    padding: 0.4em 0 0.4em 1.2em;
}
.function-column-right-1{
    padding: 0.4em 0 0.4em 0;
}
.function-column-1{
    text-align: center;
    padding: 2.52em 0;
}
.function-name-white{
    color: white;
}
.function-name{
    color: #6f6f6f;
}
.box{
    width: 100%;
    float: left;
    display: block;
    position: relative;
    margin-bottom: 0.6em;
}
.box_bottom{
    width: 100%;
    float: left;
    display: block;
    position: relative;
    margin-top: 0.4em;
}

.left_hand{
    float: left;
    display: block;
    position: relative;
    width: 48%;
    overflow: hidden;
}
.right_hand{
    float: right;
    display: block;
    position: relative;
    width: 48%;
    overflow: hidden;
}

.page-top{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.personal-info dt,.personal-info dd{
    display: inline-block;
    vertical-align: middle;
}
.personal-info {
    padding: 0 5%;
}
.userName{
    font-size:0.9em;
    color: black;
}
.userPhone{
    font-size:0.7em;
    color: darkgray;
}
.personal-info dt{width:84px;}
.personal-info dd{color: #fff;}
.personal-foot{
    background-color: #099d6a;
    padding: 2% 5%;
    color: #fff;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.personal-foot-link{
    display: table-cell;
}
.personal-foot-link i{margin-right: 10px;}
.my-menu-group{
    color: black;
}
.my-menu{
    padding: 3% 5%;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    position: relative;
}
.my-menu-title{
    width: 30%;
    display: inline-block;
}
.my-menu-title i{
    color: #b0b2b5;
    margin-right: 10px;
}

.head-img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: block;
    border: 2px solid #fff;
}
.go-forward{
    text-align: right;
    display:inline-block;
    width: 68%;
}
.popup-go-forward{
    display:inline-block;
    float: right;
}
.siteInfo{
    background:rgba(255,255,255,.95);
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0.5em;
}
.siteAddress{
    font-size: 0.9em;
    color: #666;
}
.siteName{
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    color: #666;
}
.siteInfo .panel-row1{padding: 0.5em 0;}
.siteInfo .block1{width: 20%;}
.siteInfo .block2{width: 25%;}
.siteInfo .block3{width: 35%;}
.record-icon{
    width: 1.5em;
    height: 1.5em;
    border-radius : 0.75em;
    color: #fff;
    display: inline-block;
    font-size: 0.7em;
    text-align: center;
    line-height: 1.5em;
    vertical-align: middle;
}
.record-icon i{border-radius : 0.75em;}
.rent-icon{background: #39bbff;}
.repay-icon{background: #39bbff;}
.park-icon{background: #999999;}
.distance-icon{background: #d9d9d9;}
.sitepoint{
    color: #000;
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.2em;
}
.round-group-2{
    text-align: left;
    margin-top: 1em;
    margin-bottom: 6em;
}
.round-table{
    display: inline-block;
    margin: 0.3em;
    position: relative;
    line-height: 1;
}
.round-norent{
    color: #39bbff;
}
.ui-round-2{
    font-size: 3em;
}
.bikeNumber{
    position: absolute;
    left: 1em;
    top: 0.5em;
    text-align: center;
    font-size: 1em;
}
.bikeNumber-enabled{
    color: #fff;
}
.round-selected,.round-selected .bikeIcon{
    color: #fc7932;
}
.bottom-img{
    position:absolute;
    overflow:hidden;
}
.footer{
    background-color: #dcf2ff;
    height: 70px;
    width:100%;
    padding-top:2.5em;
}



/*          注册页面         */
.h-txt{
    padding-top:10px;
    padding-bottom:10px;
    background-color: #e3e3e4;
    color: #afb1b4;
}
.form-box{
    background-color: #fff;
    margin: 1.75rem 0;
    font-size: 0.8em;
}
.form-group,.page-block{
    background-color: #fff;
    border-bottom: 1px solid #f3f5f6;
    padding: 2% 0;
    position: relative;
}
.form-group input{
    border: none;
    outline:none;
    padding: 2% 5%;
    width:70%;
    font-size: 0.9em;
}
.textarea{
    width: 100%;
    padding: .5em;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: none;
    outline:none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.form-group .lab{
    margin-left: 5%;
    width: 20%;
    display: inline-block;
}
.text-warning{
    color: lightgray;
    font-size: smaller;
}


/*          登陆界面        */
.general_logo{
    border-radius: 10px;
    display: block;
    margin: 30px auto;
    width: 20%;
}
/*          订单详情        */
.item-subtitle{
    text-align: right;
    color: darkgray;
}
.footer-subtitle{
    text-align: right;
}
.bar .icon {
    position: relative;
    z-index: 2000;
    padding: 0;
    font-size: 1rem;
    line-height: 1.2rem;
}
.item-pay{
    padding-top: 10%;
}
/*          选车位界面        */
.panel-orderRent{
    background:rgba(255,255,255,0.95);
    position: fixed;
    bottom: 0;
    padding: 0.5em 3%;
    width: 100%;
}
.bikeNumber-selected{
    font-size: 0.9em;
    color: #f97127;
    height: 1.6em;
}
.orderRent-selectedInfo{
    font-size: 0.75em;
    color: #999;
}
.bikeIcon{
    color: #39bbff;
    position: absolute;
    top: 1.4em;
    left: 0.75em;
    text-align: center;
    font-size: 1.2em;
}
.sitenumber{
    background: #d9d9d9;
    border-radius: 0.2em;
    color: #fff;
    padding:0.1em 0.5em;
    font-size: 0.7em;
    margin-left: 0.5em;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
}
.item-inner .item-after.icon-color2{
    color: red;
}
.text-default{
    color: #39bbff;
}

.i-font{
    color: #3b3b3b;
}
.card {
    background: #fff;
    box-shadow: 0 .05rem .1rem rgba(0,0,0,.3);
    margin: .5rem;
    position: relative;
    border-radius: .1rem;
    font-size: 1em;
}
.card-footer {
    border-radius: 0 0 .1rem .1rem;
    background-color: #ebebeb;
}
.card-header {
    font-size: 0.9em;
    min-height: 1rem;
    position: relative;
    padding: 0.2em 1em;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card-header-rent{
    font-size: 0.9em;
    position: relative;
    padding: 2em 1em;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card-footer {
    font-size: 0.9em;
    min-height: 1rem;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: center;
}
.payment-amount{
    color: #fd854c;
    margin-left: 0.5em;
}
.go-payment{
    color: #9d9d9d;
    font-size: smaller;
}
.padLeft{
    margin-left: 1em;
    text-align: left;
}
.padRight{
    margin-right: 1em;
    text-align: right;
}
.list-block .item-subtitle {
    font-size: 0.7em;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
}
.list-block {
    margin: 1.75rem 0;
    font-size: 0.85em;
}
.tips-content-rent .list-block{
    margin: 0;
    font-size: 0.85em;
}
.list-block .item-content {
    box-sizing: border-box;
    padding-left:0;
    min-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.list-block.media-list .item-title-row {
    padding-left: 1em;
}
.button-goRent{
    text-align: center;
    display: block;
    border-radius: .15rem;
    box-sizing: border-box;
    margin: 0;
    height: 2.5em;
    font-size: .6rem;
    line-height: 2.5em;
}
.button {
    border: 1px solid #0894ec;
    color: #0894ec;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: .15rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0 .3rem;
    margin: 0;
    height: 1rem;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
    font-size: .6rem;
    font-family: inherit;
    cursor: pointer;
}
.tips-dialog-button {
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 2.3em;
    background: 0 0;
    margin: 0.5em;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
    font-size: .6rem;
    font-family: inherit;
    cursor: pointer;
}
.button.button-fill {
    color: #fff;
    border: none;
}
.content-block-title {
    position: relative;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: .7rem;
    text-transform: uppercase;
    line-height: 1;
    color: #6d6d72;
    margin: 1.75rem .75rem .5rem;
}
.error-img{
    padding-top: 40%;
    text-align: center;
}
.selector-button{
    padding: 40% 10%;
}
.tips-block-layout{
    position: fixed;
    bottom: 50px;
    z-index: 2040;
    width: 100%;
    text-align: center;
}
.tips-prompt{
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;
    text-align: center;
}
.tips-block-content{
    background-color: #FFF;
    border-radius: 0.25em;
    padding: 0.5em 1.5em;
    color: #000;
    margin: 0 auto;
    display: inline;
    font-size: 0.8em;
}
.tips-prompt-layout{
    background-color: rgba(0,0,0,.5);
    border-radius: 0.5em;
    padding:0.5em 1em;
    color: #fff;
    margin: 0 auto;
    display: inline;
    font-size: 0.75em;
}
.popup-wraper {
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51,51,51, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.popup-txt{
    width: 80%;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
}
.popup-txt .tips-dialog-msg{
    padding: 0em 1em 1em 1em;
    overflow-y:auto;
    height: 20em;
    color: #828282;
}
.popup-toolbar{
    font-size: 0.9em;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #e5e5e5;
}
.popup-toolbar a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: 0.6em;
}
.popup-toolbar .cancel-link:active{color: #333;}
.popup-toolbar .ok-link,.popup-toolbar .ok-link:active{color: #2badf1;}
button,
.ui-btn {
    font-size: 0.8em;
    line-height: 1.3;
    font-family: sans-serif /*{global-font-family}*/;
}
.popupMsgContent{
    font-size: 1em;
}
.paymentRate .popupMsgContent{
    font-size: 1em;
    margin-top: 0.5em;
}
.popup{
    width: 100%;
    height: 100%;
}
.popup-dialog{
    width: 76%;
    background: #fff;
    border-radius: 3px;
    align-items: center;
}
.popup-title{
    font-size: 0.9em;
    text-align: center;
    padding: 0.8em 0;
    border-bottom: 1px solid #e5e5e5;
}
.txt-size{
    font-size: 0.8em;
}
.popup-dialog h1 {
    text-align: center;
    font-weight: 100;
    font-size: 0.8em;
    margin: 1em auto;
}
.popup-dialog .tips-dialog-msg{margin: 1.5em;}
.popup-toolbar{border-top: 1px solid #dddddd;}
.popup-toolbar .button{
    background: #fff;
    border: none;
    box-shadow:none;
    border-radius: 0;
}
.popup-toolbar .button:hover{
    background: #fff;
}
.popup-fixed{
    position: fixed;
    bottom: 80px;
    width: 100%;
    text-align: center;
}
.popup-fixed-dialog{
    border-radius: 5px;
    background-color: #00ba44;
    opacity: 0.6;
    font-size: 0.8em;
    padding: 0.8em;
    color: #fff;
    text-align: center;
    line-height: 1;
    margin: 0 auto;
    display: inline;
}
.tips-roll{
    width: 100%;
    height: 100%;
}
.tips-roll-layout{
    position: fixed;
    z-index: 2040;
    width: 100%;
    height: 100%;
}
.tips-roll-content{
    background-color: rgba(0,0,0,.7);
    padding:0.5em;
    color: #fff;
    font-size: 0.75em;
    width: 9em;
    height: 9em;
    border-radius: 4.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5em;
    margin-left: -5em;
    text-align: center;
}
.tips-icon{ 
    font-size: 2.5em;
}
.font-bold{
    font-weight: bold;
}
.my-menu-item{
    padding: 0 5% 2% 5%;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    position: relative;
}
.rent-message{
    width: 100%;
    display: inline-block;
}
.my-menu-rent{
    padding: 1% 5%;
    background-color: #e8e8e8;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}
.card-content-rent {
    position: relative;
    padding-left: 3em;
    padding-bottom: 1em;
}
.tips-content-rent{
    position: relative;
}
.tips-dialog-msg{
    text-align: left;
}
.list-block .item-inner:after {
    height: 0;
}
.list-block ul:after{
    height: 0;
}


.popup-pay { font-size: 14px; border-radius: 0; bottom: 0; left: 0; position: fixed; text-align: center; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); -webkit-transition: -webkit-transform 300ms; transition: transform 300ms ; width: 100%; z-index: 1110; }
.am-modal-active { transform: translateY(0px);  -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0) }

.popup-pay-title {
    background-color: #f8f8f8;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #555;
    font-weight: 400;
    margin: 0 10px;
    padding: 7px 0 7px 0;
    text-align: center;
}

.popup-pay-footer {
    margin: 10px;
}
.popup-pay-footer .popup-pay-btn {
    color: #555;
    display: block;
    width: 100%;
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.2;
    padding: 0.625em 0;
    text-align: center;
    transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s; vertical-align: middle;
}

.popup-pay-sns {
    background-color: #f8f8f8;
    border-radius: 0 0 2px 2px;
    margin: 0 10px;
    padding: 15px;
    height:auto; zoom:1;
    overflow:auto;
}

.popup-pay-sns li {
    margin-bottom: 15px;
    display: block;
    height: auto;
    text-align: left;
}

.popup-pay-sns a {
    color: #555;
    display: block;
    text-decoration:none;
}
.popup-pay-sns span { display: block; }

.popup-pay-sns .share-icon-weibo { background-image: url(); }

.sharebg { background-color: rgba(0, 0, 0, 0.6); bottom: 0; height: 100%; left: 0; opacity: 0; position: fixed; right: 0; top: 0; width: 100%; z-index: 1100; display:none; }
.sharebg-active { opacity: 1; display:block; }
.pccode{
    background-color: #3284ce;
    padding: 1% 2%;
    border-radius:3px;
    font-size: 0.85em;
}
.button-warning.button-fill {
    color: #fff;
    background-color: #f60;
}
.button-failure.button-fill {
    color: #fff;
    background-color: #8F8F8F;
}
.imPopBtn {
    position: fixed;
    height: 30px;
    padding: 0 5px;
    bottom: 3%;
    right: 0;
    line-height: 30px;
    border-radius: 5px 0 0 5px;
    background-color: #4caeef;
    color: #fff;
    z-index: 25;
    cursor: pointer;
    opacity: .75;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,0.1);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.1);
    transition: opcity 0.15s;
    -webkit-transition: opcity 0.15s;
    -moz-transition: opcity 0.15s;
    -ms-transition: opcity 0.15s;
    -o-transition: opcity 0.15s;
}
.my-menu-num{
    width: 100%;
    display: inline-block;
}
.my-menu-num i{
    margin-right: 10px;
}
.tips-dialog-num{
    margin: 0;
    text-align: left;
}
.num-menu{
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    position: relative;
}
.left-bg{
    background-color: #3284ce;
    border-radius: 0.2em;
    float: left;
    width: 48%;
}
.right-bg{
    background-color: #3284ce;
    border-radius: 0.2em;
    float: right;
    width: 48%;
}
.bottom-bg-left{
    background-color: #fff;
    border-radius: 0.2em;
    width: 46%;
    float: left;
}
.bottom-bg-right{
    background-color: #fff;
    border-radius: 0.2em;
    width: 46%;
    float: right;
}
.mapIcon-layer2{
    position: absolute;
    width: 29px;
    height: 29px;
    background: #fff;
    z-index: -1;
    border-radius: 3px;
    opacity: .85;
    -webkit-box-shadow:1px 1px 0 0 rgba(0,0,0,0.3);
    box-shadow:1px 1px 0 0 rgba(0,0,0,0.3);
}
.mapIcon-layer1{
	position:absolute;
	top:-4px;
	left:1px;
	z-index:-1;
	color: #fff;
}
.BMapLabel{
    position: absolute;
    display: inline;
    cursor: inherit;
    border: 0px;
    padding: 1px;
    white-space: nowrap;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    font-family: arial, sans-serif;
    z-index: -6085018;
    background: rgba(255, 255, 255, 0);
}
.BMapLabel2{
    position: absolute;
    display: inline;
    cursor: inherit;
    border: 0px;
    white-space: nowrap;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: normal;
    font-family: arial, sans-serif;
    z-index: -6104684;
    background: rgba(255, 255, 255, 0);
}
.panel-siteInfo{
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0px;
    left: 0%
}
.saomiao-size{
    position: fixed;
    width: 30%;
    /*z-index: 10;*/
    bottom: 40px;
    left: 35%;
    height: 50px;
}
.saomiao-image-size{
    position: fixed;
    margin: 0 auto;
    width: 6%;
    /*z-index: 10;*/
    bottom: 55px;
    left: 47%;
    height: 20px;
}
div.saomiao-background{
    background-image: url("../image/icon_button_bg0.png");
    border-radius: 40px;
}
.ui-content-absolute{
	left: 0;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0px;
	bottom: 0;
}
.ui-content-fixed{
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 43px;
    bottom: 0;
}
.siteInfo{
    background:rgba(255,255,255,.95);
    margin-bottom: 0.5em;
}
.record-list{padding: 0.5em 0.5em;}
.record-list:active{background: #f8f8f8;}
.to-word{
    display: inline-block;
    vertical-align: middle;
    color: #999;
    font-size: 0.75em;
    margin: 0 0.5em;
}
.arrow-right{
    color: #999;
}
.record-list .top-siteInfo{
    padding:0.5em 0;
    border-bottom: 0;
}
.top-siteInfo{
    border-bottom: 1px solid #f1f1f1;
    padding: 0 1%;
}
.siteName{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75em;
    color: #666;
}
.listview-icon{
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
}
.record-time,.record-cost{
    font-size: 0.5em;
    color: #b0b2b5;
}
.member-block{
    padding:3%;
}
.ui-form-group{
    background:#fff;
    border-radius: 0.2em;
    border: 1px solid #ebebeb;
    padding: 0.5em 0.75em;
    font-size: 0.7em;
}
.ui-form-group input {
    border: none;
    outline: none;
    padding: 1.2em 0;
    display: block;
    width: 100%;
}
.ui-input-text input, {
    color: inherit;
    text-shadow: inherit;
}
textarea.ui-input-text{
    border:none;
    padding:0;
}
.ui-btn-field{margin-top: 1em;}
.ui-btn-field .ui-btn-white,.ui-btn-field .ui-btn-white:hover,.ui-btn-field .ui-btn-white:visited,.ui-btn-field .ui-btn-white:active{color: #cdcdcd;}
.itemCity-group{
    background: #fff none repeat scroll 0 0;
    font-size: 0.9em;
    padding: 0.5em 0.75em;
    position: relative;
}
.itemCity-list{
    border-bottom: 1px solid #f1f1f1;
    padding: 0.7em 0;
}
.itemCity-list-left{
    width: 20%;
    color: #999;
}
.itemCity-list-right.num1{
    color: #fc7932;
    font-size: 1.4em;
    font-weight: bold;
}
.icon-position{
    padding: 5px; 
    font-weight: bold;
}
.form-box-mine{
    margin: 1.75rem 0 0.5rem 0;
    font-size: 0.8em;
}

/* recordlist.html */
/*.record-box{top:30%!important;background-color: #fff;}
.air-item{
 position: fixed;
    top: 0;
    height:160px;
    width: 100%;
    left: 0;
font-size:13px;
background-color:#03a9f4;}
.air-item .air-upper{display: flex;flex-wrap: nowrap;flex-direction: row;justify-content: space-between;height: 100px;margin: 30px 0;}
.air-item .air-upper .upper-lt{flex:1;justify-content: center;}
.air-item .air-upper .upper-lt p{text-align:center;color: #fff;}
.air-item .air-upper .upper-lt p:first-child{font-size: 13px;}
.air-item .air-upper .upper-lt p:nth-child(2){font-size: 24px;margin:15px 0;}
.air-item .air-upper .upper-lt p:nth-child(3){font-size: 14px;}
.reco-item{width: 80%;margin:5% 10%;}
.reco-item .item-top{overflow: hidden;width: 100%;font-size: 13px;color:#000;}
.reco-item .item-top .top-lt{float:left;width:25%;margin-right: 6%;}
.reco-item .item-top .top-lt,.top-rt p:nth-child(2){text-align: center;}
.reco-item .item-top .top-rt{float:right;width:25%;margin-left: 6%;}
.reco-item .item-top .top-ce{float:left;width:25%;margin: 0 6%;}
.reco-item .item-top .top-ce p{text-align: center;}

.item-cen{width: 100%;}
.item-cen span:first{text-align: left;}
.item-cen {max-width: 561px;max-height: 17px;}
.gray-btm{width: 100%;height: 20px;background-color:#f2f2f2;}
*/
