

/* recordlist.html */
.record-box{top:27%!important;background-color: #fff;}
.air-item{
 position: fixed;
    top: 0;
    height:160px;
    width: 100%;
    left: 0;
font-size:13px;
background-color:#03a9f4;}
.air-item .air-upper{display: absolute;flex-wrap: nowrap;flex-direction: row;justify-content: space-between;height: 100px;margin: 20px 0;}
.air-item .air-upper .upper-lt{flex:1;justify-content: center;}
.air-item .air-upper .upper-lt p{text-align:center;color: #fff;}
.air-item .air-upper .upper-lt p:first-child{font-size: 13px;}
.air-item .air-upper .upper-lt p:nth-child(2){font-size: 24px;margin:10px 0;}
.air-item .air-upper .upper-lt p:nth-child(3){font-size: 14px;}
.reco-item{width: 80%;margin:5% 10%;}
.reco-item .item-top{overflow: hidden;width: 100%;font-size: 12px;color:#000;}
.reco-item .item-top .top-lt{float:left;width:33.3%;}
.add-lt{border-right: 1px solid #f2f2f2;}
.add-lt p:first-child{font-size: 14px;}
.add-ce p:first-child{font-size: 14px;}
.add-rt p:first-child{font-size: 14px;}
.reco-item .item-top{font-size: 12px;}
.reco-item .item-top .top-lt,.top-ce,.top-rt p{text-align: center;/* font-size: 11px; */}
.reco-item .item-top .top-rt{float:right;width:33.3%;/* font-size: 12px; */}
.add-rt{border-left:1px solid #f2f2f2;font-size: 12px;}
.reco-item .item-top .top-rt p{text-align:center;/* font-size: 12px; */}
.reco-item .item-top .top-ce{float:left;width:33.3%;}
.reco-item .item-top .top-ce p{text-align: center;}
.item-cen {max-width: 561px;max-height: 17px;}
.gray-btm{width: 100%;height: 20px;background-color:#f2f2f2;}
/* .record-foot{text-align: center;color: #888888;font-size: 13px;position: absolute;left: 0;bottom: 2%;width: 100%;} */
/* 

.foot-btn{position: absolute;bottom:20px;width: 150px;height: 30px;line-height: 30px;} 
.foot-btn p{text-align: center;font-size: 1px;color: #000;} */