@namespace url(http://www.w3.org/1999/xhtml);
.cashheadstyle{
	width: 100%;
	height: 50%;
	background: #00bfa2;
	color: #00bfa2;
	position: absolute;
	top: 0;
	text-align: center;
	vertical-align: middle;
}
.cashmoney{
	font-family: 华文中宋;
	color: white;
	width: 100%;
	height: 100%;
	font-size: 50px;
	display: block;
	position: relative;
}
.cashumber{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100%;
	line-height: 100px;
	height: 100px;
}
.agreement{
	margin: auto;
	margin-top: -54px;
	width: 54px;
	height: 54px;
	z-index: 3;
	position: relative;
}
.headsection{
	font-family: 华文中宋;
	font-size: 20px;
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	vertical-align: middle;
}
.sectionbutton{
	width: 33.33%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	color: #f60;
	overflow: hidden;
}
.sectionbtn-2{
 	 left: 33.33%
}
.sectionbtn-3{
	left: 66.66%
}
.linetop{
	position: absolute;
	top: 52px;
	left: 0px;
	right: 0px;
	height: 1px;
	border: none;
	border-top: 1px solid #cccccc;
}
.scrollow{
	position: absolute;
	top: 55px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
}
.scrollowinner{
	width: 300%;
	height: 100%;
	overflow: auto;
	-webkit-transform: translate3d(0,0,0);
	backface-visibility: hidden;
	position: relative;
}
.scrollowpage{
	height: 100%;
  	float: left;
  	width: 33.33%;
}
.page{
	height: 300px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
.page-1{
	height: 360px;
}
.page-2{
	height: 180px;
}
.tablecell{
	flex: 1;
	width: 100%;
	height: 150px;
	line-height: 150px;
}
.linecell{
	position: relative;
	top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	height: 1px;
	border: none;
	border-top: 1px solid #cccccc;
}
.circle{
	border-radius: 50%;
	width: 5px;
	height: 5px;
	background: #cccccc;
	margin-top: 25px;
	margin-left: 50px;
	/*top: 25px;
	left: 50px;*/
}
.textfont-color{
	font-family: 宋体中文;
	font-size: 20px;
	line-height: 50px;
	position: absolute;
	left: 65px;
	margin-top: -25px;

}
.textsmaller{
	font-family: 宋体中文;
	font-size: 17px;
	text-align: left;
	position: absolute;
	right: 35px;
	line-height: 150px;
	color: #cccccc;
	margin-top: -75px;
	
}
#viewport{
	transition:transform .5s ease;
	-webkit-transition:transform .5s ease;
}
#viewport[pos='left']{
 		transform:translateX(0);
 		-webkit-transform:translateX(0);
}
#viewport[pos='middle']{
 		transform:translateX(-33.33%);
 		-webkit-transform:translateX(-33.33%);
}
#viewport[pos='right']{
 		transform:translateX(-66.66%);
 		-webkit-transform:translateX(-66.66%);
}
.btn[status="selected"]{
	color: #2476ff;
}
.btn[status="selected"]:after{
 content:'';
 width:20px;
 height:2px;
 background: #2476ff;
 position:absolute;
 bottom:0;
 left:50%;
 margin-left:-10px;
 
}
.btn[status='normal']{
	color: #000000;
}























