@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(http://), url-prefix(https://){
    @font-face { font-family: Simsun;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Simsun;unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: NSimsun;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: NSimsun;unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: Simhei;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Simhei;unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: '宋体';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: '宋体';unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: '新宋体';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: '新宋体';unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    @font-face { font-family: '黑体';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: '黑体';unicode-range: U+0000-2E7F; src: local('Segoe UI Symbol')}
    /* 分别替换，宋体，新宋体，黑体为微软雅黑 */
    @font-face { font-family: monospace;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: 'monospace';unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Consolas;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    @font-face { font-family: Lucida Console;unicode-range: U+2E80-FFFF; src: local('Microsoft YaHei UI')}
    /* 替换常见的等宽字体 */
}
.jc-card-footer {
    font-size: 0.9em;
    min-height: 3rem;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: center;
}
.jc-card-daohang{
    height: 3em;background-color: #2476ff;width: 100%;position: absolute;top: 6.3em;
     box-shadow: 0 .05rem .1rem rgba(0,0,0,.3);
}
.jc-card-tongji{
    text-align: center;color: rgb(0,0,0); font-size: 18px;font-weight: normal;margin-top: 1em;
}
.currCard{
    margin: 0!important
}
.jc-mengceng{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0%;
    background-color: gray;
    opacity: 0.4;
}
.jc-info-bottom-up{
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: white;
    z-index: 11;
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 30px;
}
.jc-info-classBtn-image{
    
    z-index: 11;
    float: left;
    width: 33.33%;
    text-align: center;
}
.jc-info-image{
    width: 70px;
    height: 70px;
}
.jc-info-bottom-up-text{
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: white;
    z-index: 11;
    overflow: hidden;
    padding-bottom: 25px;
}
.jc-info-classBtn-text{
    z-index: 11;
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 12px;
    color: gray;
}
.jc-personImg{
    
    z-index: 11;
    float: left;
    width: 50%;
    text-align: center;
}
.jc-person-text{
    z-index: 11;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 12px;
    color: gray;
}